// Specific CSS for your home-page
h1, h3 {
  margin: 32px 0 24px 0;
  text-align: center;
  color: $sand;
}

#banner_image, .calendar {
  border-style: solid;
  border-color: $light-gray;
  border-width: 1px;
  border-radius: 16px;
  margin: 32px 0 32px 0;
}

#banner_image {
  width: 100%;
}

#apartment_image {
  width: 100%;
  border-radius: 16px;
}

.container {
  hr {
  margin: 12px auto;
  border: none;
  border-top: 1px solid $sand;
  color: $sand;
  width: 100%;
  }
}

.row {
  p {
    font-size: 12px;
    color: $gray;
  }
}

.top_rated_preview {
  margin-top: 18px;
  vertical-align: middle;
}

.review_text {
  display: flex;
  align-items: center;
}

@media (min-width: 564px) and (max-width: 950px) {
  .daterangepicker {
    width: 278px !important;
  }
}

@media (min-width: 950px) {
  .daterangepicker {
    width: auto;
  }
}

.carousel-control-next, .carousel-control-prev {
    filter: invert(100%);
}

.carousel-indicators {
  filter: invert(100%);
}

.carousel-control-prev {
  left: -5%;
}

.carousel-control-next {
  left: 90%;
}


.container-2 {
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
}

.centered-2 {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.col-12 img {
  box-shadow: 10px 5px 5px #1c040a;
  opacity: 0.9;
}
