// Specific CSS for your home-page
.container {

}

h1 {
  margin: 32px 0 24px 0;
  text-align: center;
  color: $sand;
}

#banner_image, .calendar {
  border-style: solid;
  border-color: $light-gray;
  border-width: 1px;
  border-radius: 5px;
  margin: 32px 0 32px 0;
}

#banner_image {
  width: 100%;
}

#reportrange {
  margin-top: 12px;
}
