.my_flats_page {
  margin: 32px 0 16px 16px;

}

.my_flats_container {
  display: flex;
  flex-flow: column;
}

.my_flat_image {
  max-width: 220px;
  border-radius: 5px;
}

.flat_row {
  margin-top: 32px;
  display: flex;
  justify-content: space-evenly;
}

.bin {
  display: flex;
  align-items: center;
}
