.my_flats_page {
  margin: 32px 0 16px 16px;

}

.my_flats_container {
  display: flex;
  flex-flow: column;
  hr {
    border-top: 1px solid #887048;
    width: 80%;
  }
  .add_new_flat {
    margin-top: 16px;
  }
}

.my_flat_image {
  max-width: 260px;
  border-radius: 16px;
}

.flat_row {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.bin {
  margin-left: 32px;
  font-size: 32px;
}

.add_new_flat {
  width: fit-content;
  margin: 0 auto;
}

.photo {
  margin: 0 32px 16px 0;
}
