.container {
  margin: 0 auto;
}

.flat_info {
  margin: 0 auto;
}

.flat_pic {
  width: 50%;
  border-radius: 16px;
  margin-top: 36px;
}

.flat_show_info {
  margin: 18px 12px 18px 12px;
}

.booking_form {
  margin: 24px 0 24px 0;
}

.flat-options {
  margin: 0 auto;
}
