.show_booking {
  border-style: solid;
  border-width: 1px;
  border-radius: 16px;
  padding: 16px;
  width: fit-content;
  height: 100%;
}

.booking-options {
  margin: 16px auto;
  .btn {
    margin-right: 16px;
  }
}

.booking_flat_pic {
  width: 100%;
  margin-top: 0;
}

.booking_container {
  margin-top: 38px;
}
