<div class="container">
  <div class="row">
    <div class="col-sm-12">
    <h5>Details</h5>
      <div class="card" style="width: 10rem;">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><span class="font-weight-bold">Price:</span> <%= flat.price_per_day %>Euros</li>
          <li class="list-group-item"><span class="font-weight-bold">Address:</span> <%= flat.address %></li>
          <li class="list-group-item"><span class="font-weight-bold">City:</span> <%= flat.city %></li>
          <li class="list-group-item"><span class="font-weight-bold">Capacity:</span> <%= flat.capacity %> people</li>
        </ul>
      </div>
    </div>
  </div>
</div>
