<h1>Edit your stay</h1>

<div class="container">
  <%= simple_form_for [ @booking ] do |f| %>
  <%= f.input :first_day_of_booking %>
  <%= f.input :last_day_of_booking %>
  <%= f.submit "Update", class: "btn btn-primary" %>
<% end %>
</div>
