#reportrange {
  margin-top: 12px;
  border-radius: 16px;
}

.daterangepicker .drp-selected {
    display: none;
}

@media (min-width: 564px) and (max-width: 950px) {
  .daterangepicker {
    width: 278px !important;
  }
}

@media (min-width: 950px) {
  .daterangepicker {
    width: auto;
  }
}
