<div class="calendar col-6" id="calendar-data" data-start-date="<%= flat.start_date.strftime("%m/%e/%Y") %>" data-end-date="<%= flat.end_date.strftime("%m/%e/%Y") %>" >
  <span>Select dates</span>
  <div id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
      <i class="fa fa-calendar"></i>&nbsp;
      <span></span> <i class="fa fa-caret-down"></i>
  </div>
</div>
