<footer>
  <hr id="footer_line">
  <ul id="footer_links">
   <li class="link_text">
      <%= link_to "Terms & conditions", "#"  %>
    </li>
    <li>
      <%= link_to "#" do %>
        <i class="fab fa-facebook-square"></i>
      <% end %>
    </li>
    <li>
      <%= link_to "#" do %>
        <i class="fab fa-instagram"></i>
      <% end %>
    </li>
    <li>
      <%= link_to "#" do %>
        <i class="fab fa-twitter-square"></i>
      <% end %>
    </li>
  </ul>
</footer>
