<footer>
  <hr>
  <ul id="footer_links">
    <li>
      <%= link_to "#" do %>
        <i class="fab fa-facebook-square"></i>
      <% end %>
    </li>
    <li>
      <%= link_to "#" do %>
        <i class="fab fa-instagram"></i>
      <% end %>
    </li>
  </ul>
</footer>
